---
import LocalFont from '../generic/LocalFont.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
  ogImage?: URL;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

if (Astro.props.ogImage === undefined) {
  // Use the correct logo image for the Open Graph image
  Astro.props.ogImage = new URL('/src/assets/tjtLogo.png', Astro.url);
}

const { title, description, ogImage } = Astro.props;
---

<head>
  <LocalFont />
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='generator' content={Astro.generator} />

  <meta name='title' content={`Teach Jenn Tech | ${title}`} />
  <meta name='description' content={description} />

  <meta property='og:type' content='website' />
  <meta property='og:url' content="https://teachjenntech.com" />
  <meta property='og:title' content="Teach Jenn Tech" />
  <meta property='og:description' content="Teach Jenn Tech livestream, come learn with us!" />
  <meta property='og:image' content={ogImage} />

  <meta property='twitter:card' content='summary_large_image' />
  <meta property='twitter:url' content="https://teachjenntech.com" />
  <meta property='twitter:title' content="Teach Jenn Tech" />
  <meta property='twitter:description' content="Teach Jenn Tech livestream, come learn with us!" />
  <meta property='twitter:image' content={ogImage} />

  <link rel='canonical' href="https://teachjenntech.com" />
  <link rel='icon' type='image/svg' href='/favicon.svg' />

  <title>Teach Jenn Tech | {title}</title>

  <ViewTransitions />

  <slot />
</head>