---
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';


const jennSocial = [
{ name: 'Twitch', url: 'https://www.twitch.tv/jennjunod' },
{ name: 'YouTube', url: 'https://www.youtube.com/@jennjunod' },
{ name: 'X', url: 'https://x.com/JennJunod' },
{ name: 'LinkedIn', url: 'https://www.linkedin.com/in/jennjunod/' },
{ name: 'Website', url: 'https://teachjenntech.com' } ,
];
const damienSocial = [
// { name: 'Twitch', url: 'https://www.twitch.tv/jennjunod' },
// { name: 'YouTube', url: 'https://www.youtube.com/@jennjunod' },
// { name: 'X', url: 'https://x.com/JennJunod' },
{ name: 'LinkedIn', url: 'https://www.linkedin.com/in/damienhale/' },
];
const jaySocial = [
{ name: 'Twitch', url: 'https://www.twitch.tv/kjaymiller' },
{ name: 'YouTube', url: 'https://www.youtube.com/@KJayMiller' },
{ name: 'X', url: 'https://x.com/kjaymiller' },
{ name: 'LinkedIn', url: 'https://www.linkedin.com/in/jennjunod/' },
{ name: 'Website', url: 'https://kjaymiller.com' },
];
---
<!-- Currently Learning Card -->
<Card>
    <h2 class='underline text-xl md:text-2xl lg:text-4xl mb-4 dm-serif'>
    Connect with us: 
</h2>
    <h3 class='text-l md:text-xl lg:text-2xl mb- dm-serif'>
<!-- Learning With Section -->
        Connect with Jenn
    </h3>
    <ul class='flex gap-4 flex-wrap'>
    {
        jennSocial.map((item) => (
    <div> 
        <Button
                <a
                class='sanchez'
                href={item.url}
                target='_blank'
                title={`Go to ${item.name}`}
                >
                {item.name}
                </a>
            </button>
        </div>
        ))
    }
    </li>
    <div>
<!-- Learning About Section -->
    <h3 class='text-l md:text-xl lg:text-2xl mb- dm-serif'>
                Connect with Damien Hale
    </h3>
    <ul class='flex gap-4 flex-wrap'>
        {
            damienSocial.map((item) => (
            <li>
            <Button
                <a
                class='sanchez'
                href={item.url}
                target='_blank'
                title={`Go to ${item.name}`}
                >
                {item.name}
                </a>
            </button>
            </li>
            </div>
        ))
        }
        
    </ul>
    </Card>