---
import type { CollectionEntry } from 'astro:content';
import { Pill } from '@eliancodes/brutal-ui';
import SummaryCard from '../generic/SummaryCard.astro';
import { Button } from '@eliancodes/brutal-ui';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<SummaryCard

  class="flex flex-col justify-between min-h-[350px] h-full overflow-hidden"
  imgAlt={post.data.title}
  imgSrc={post.data.imgUrl}
>
<h2 class="title font-bold">{post.data.title}</h2>

  <div class="description">{post.data.description}</div>
  <p class="text-sm text-gray-500">{new Date(post.data.pubDate).toLocaleDateString()}</p>

  <div class="flex justify-end my-4">
    <Button href={`/content/${post.slug}/`}>Read post &rarr;</Button>
  </div>
  {/* ... other elements ... */}
</SummaryCard>